@import "tailwindcss";

/* :::::::::::::::::::::::::::::::::::::::::::::::: */
/* :: THEME VARIABLES & GLOBAL STYLES             :: */
/* :::::::::::::::::::::::::::::::::::::::::::::::: */

:root {
  --light-theme-bg-val: #fff8e1;
  --dark-theme-bg-val: rgb(2 6 23);

  --bg-color: var(--light-theme-bg-val);
  --text-color: #1f2937;
  --accent-color: #d946ef;
  --secondary-bg: #f3f4f6;
  --hand-color: #D946EF;
  --icon-filter: none;
  --divider-color: var(--dark-theme-bg-val);
  --theme-icon: #000000;
  --theme-bg: var(--dark-theme-bg-val);
}

.dark {
  --bg-color: var(--dark-theme-bg-val);
  --text-color: #f1f5f9;
  --accent-color: #10b981;
  --secondary-bg: #0f172a;
  --hand-color: #00BC7D;
  --icon-filter: invert(1);
  --divider-color: var(--light-theme-bg-val);
  --theme-icon: #ffffff;
  --theme-bg: var(--light-theme-bg-val);
}

/* :::::::::::::::::::::::::::::::::::::::::::::::: */
/* :: ANIMATIONS                                  :: */
/* :::::::::::::::::::::::::::::::::::::::::::::::: */

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s steps(1) infinite;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::: */
/* :: FONTS                                       :: */
/* :::::::::::::::::::::::::::::::::::::::::::::::: */

.koulen-regular {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::: */
/* :: GENERAL BODY & ELEMENT STYLES               :: */
/* :::::::::::::::::::::::::::::::::::::::::::::::: */

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Instrument Sans', Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icon {
  filter: var(--icon-filter);
  transition: filter 0.3s ease, background-color 0.3s ease;
}
